<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Proyecto1DB" connectionString="metadata=res://*/BaseDatosModel.csdl|res://*/BaseDatosModel.ssdl|res://*/BaseDatosModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=diseno2017.database.windows.net;initial catalog=Proyecto1;persist security info=True;user id=AdanMora;password=Admin0424;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>